* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}


body {
background-color: black;



}



.img {
height: 300px;
margin-left: 465px;

}


h1 {
color: #ffffff;
font-weight: 400px;
font-size: 100px;
margin-left: 400px;

}


p {
color: #ffffff;
font-weight: 10px;
font-size: 20px;
margin-left: 540px;
margin-bottom: 20px;

}

input {
height: 40px;
width: 200px;
outline: none;
border-radius: 5px;
background: #c0bebe4d;
border: none;
padding: 10px;
font-weight: 100%;
font-size: 20px;
color: #ffffffda;
margin-left: 400px;
}


button {
height: 45px;
width: 200px;
background: rgb(150, 197, 20);
border-radius: 8px;
border: none;
font-weight: 20px;
font-size: 20px;
color: #f1e9e9;
display: block;
margin: 20px 525px;
cursor: pointer;
}



.two {
margin-left: 45px;


}

button:hover {
opacity: .8;


}


button:active {
opacity: .5;


}